@if (Session["Korisnik"] != null)
{
    @model Algebra.Models.Seminar


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

        @section Scripts {
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
            <script src="~/Scripts/datepicker-hr.js"></script>
            <script>
                $(document).ready(function () {
                    $("#Datum").datepicker({
                        dateFormat: "dd/mm/yy"
                    });
                });
            </script>
        }

        <div class="form-horizontal">
            <h4>Seminar</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Predavac, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Predavac, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Predavac, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Popunjen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("Popunjen", false)
                    @Html.ValidationMessageFor(model => model.Popunjen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spremi" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Nazad", "Index")
    </div>

}
else
{
    <br />
    <br />
    <tr>
        <td colspan="8" style="color:red">
            NISTE REGISTRIRANI!
        </td>
    </tr>
    <br />
    <br />
}